
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Poppins:ital,wght@0,300;0,400;1,200&family=Roboto:ital@0;1&display=swap');




body{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
h1{
    color:rgba(0, 0, 0, 0.547)
}
section{
    margin-top: 50px;
    margin-bottom:60px;
        
}

/***** section-1******/

.disply-flex{
    display: flex;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 70%;
}
.style{
    padding: 50px;
}
.style h1{
    font-size: 80px;
    margin: 0px;
    

}
.style span{
    color:tomato;
}
.style p{
    font-size: 30px;
    color:rgba(0, 0, 0, 0.547);
    
}
.btn{
    text-decoration: none;
    background-image: linear-gradient(#fc8f49,tomato);
    padding: 20px 40px;
    color: white;
    border-radius: 50px;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    margin-top: 40px;
}

/***** section-2******/
#section-2{
    background-image:url(img/shaip/7.png);
    background-repeat: no-repeat;
    background-size: cover;

}
.persion img{
    width: 50%;
   margin-left: 200px;
    
}
.about {
    padding: 50px;

}
.new{
    width: 500px;
}
.new h1{
    font-size: 50px;
}
.about p{
    text-align: justify;
}

/******section******/
.sec3-top{
    width: 600px;
    text-align: center;
    margin:0 auto;
    margin-bottom: 40px;
}
.sec3-top h1{
    font-size: 50px;
}
.box-title{
    display: flex;
    margin-bottom: 50px;
    
}
.img-dev{
    width: 50%;
    width: 600px;
    padding: 40px 40px;
    margin: 20px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 5px 8px 40px grey;

}
.img-dev img{
    width: 100%;
   border-radius: 10px;
}
.img-dev h2{
    font-size: 30px;
}

/** section-4****/
