
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Poppins:ital,wght@0,300;0,400;1,200&family=Roboto:ital@0;1&display=swap');




body{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
h1{
    color:rgba(0, 0, 0, 0.547)
}
section{
    margin-top: 50px;
    margin-bottom:50px;    
}

/***** section-1******/

.disply-flex{
    display: flex;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 80%;
}
.style{
    padding: 50px;
}
.style h1{
    font-size: 80px;
    margin: 0px;
    

}
.style span{
    color:tomato;
}
.style p{
    font-size: 30px;
    color:rgba(0, 0, 0, 0.547);
    margin-bottom: 40px;
}
.btn{
    text-decoration: none;
    background-image: linear-gradient(#fc8f49,tomato);
    padding: 20px 40px;
    color: white;
    border-radius: 50px;
    font-weight: bold;
}

/***** section-2******/
